<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="user/base::Layout(~{::section})">
<head>
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section style="margin-top: 6%;">
		<div class=" rounded-circle">

			<div class="tarin1" style="height: 500px;">
				<h1 class="text-white fw-bold"
					style="font-size: 55px; padding: 7% 10% 30% 16%;">The best
					Train deals to everywhere, from anywhere</h1>


			</div>

		</div>



		<!-- check avilability form-->
		<div class="container availability-form">
			<div class="row">
				<div class="col-lg-12 bg-dark text-primary shadow p-4 rounded">
					<h5 class="col-lg-3">Check Train Availability</h5>
					<form>
						<div class="row align-items-end">
							<div class="col-lg-3 mb-3">
								<label class="form-label" style="font-weight: 500;">From</label>
								<input type="text" class="form-control shadow-none"
									placeholder="Departure city">
							</div>

							<div class="col-lg-3 mb-3">
								<label class="form-label" style="font-weight: 500;">To</label>
								<input type="text" class="form-control shadow-none"
									placeholder="Destination city">
							</div>
							<div class="col-lg-3 mb-3">
								<label class="form-label" style="font-weight: 500;">Depart</label>
								<input type="date" class="form-control shadow-none">
							</div>
							<div class="col-lg-2 mb-3">
								<label class="form-label" style="font-weight: 500;">Children</label>
								<select class="form-select shadow-none">

									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</div>
							<div class="col-lg-1 mb-lg-3 mt-2">
								<button type="submit"
									class="btn btn-primary shadow-none custom-bg">Search</button>
							</div>

						</div>
					</form>
				</div>
			</div>
		</div>




			<div class="container mt-5 mb-5" th:each="t:${train}">
			<div class="d-flex justify-content-center row">
				<div class="col-md-12 shadow">
					<div class="row  bg-white border rounded">
						<div class="col-md-2 mt-4 text-center">
							   <h4 th:text="${t.company}"></h4>
							   <p class="fs-6" th:text="${t.train_no}"></p>
						</div>
						<div class="col-md-2 mt-4 text-center">
							<h4 th:text="${t.departure_time}"></h4>
								<p class="text-primary" th:text="${t.departure_city}"></p>

						</div>
						<div class="col-md-2 mt-4 text-center">
							<h5 th:text="${t.total_time}"></h5>
							
							<p>non-stop</p>

						</div>
						<div class="col-md-2 mt-4 text-center">
							<h4 th:text="${t.destination_time}"></h4>
							<p class="text-primary" th:text="${t.destination_city}"></p>

						</div>
						<div class=" col-md-2 mt-4">
							
							 <div class=" text-center">
								   <h4 th:text="${'$'+t.price}"></h4>
								 <!--  <span class="strike-text">$20.99</span> -->
							</div>
						</div>
						<div class="col-md-2">
							<div class="d-flex flex-column mt-3">
							
									<button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#train" 	th:attr="data-bs-target='#train'+${t.train_id}"  type="button">Details</button>
								<button class="btn btn-outline-primary btn-sm mt-2"
									type="button" data-bs-toggle="offcanvas"
									data-bs-target="#bus"
									th:attr="data-bs-target='#off'+${t.train_id}"
									aria-controls="bus">Book Now</button>
									
									
									
<!-- Booking canvas is open herfe and under the form -->
								<div class="offcanvas offcanvas-end" tabindex="-1"
									th:id="off+${t.train_id}" aria-labelledby="offcanvasRightLabel">
									<div class="offcanvas-header">
										<h3 id="offcanvasRightLabel"
											class="text-center text-primary">Book Train</h3>
										<button type="button" class="btn-close text-reset"
											data-bs-dismiss="offcanvas" aria-label="Close"></button>
									</div>
									<div class="offcanvas-body">
										<div >
											<input type="hidden" id="buid" name="bus_id" th:value="${t.train_id}" />
											<input type="hidden" name="id" th:value="${user.id}" />
										
											
											<div class="mb-3">
												<label for="fn" class="form-label">Name</label> <input
													type="text" class="form-control" id="fn" readonly
													name="name" th:value="${user.name}">

											</div>
											<div class="mb-3">
												<label for="exampleInputEmail1" class="form-label">
													Mobile No</label> <input type="number" class="form-control"
													id="exampleInputEmail1" readonly name="phone_no"
													th:value="${user.mobileno}">

											</div>
											<div class="mb-3">
												<label for="dc" class="form-label">Email Id </label> <input
													type="email" class="form-control" id="d" readonly
													name="email" th:value="${user.email}">

											</div>
											<div class="mb-3">
												<label for="no" class="form-label">Address</label>
												<textarea rows="5" class="form-control" required
													name="adress" id="adr"></textarea>
											</div>
										 	<div class="mb-3">
												<label for="dc" class="form-label">Booking Date </label> <input
													type="date" required class="form-control" id="dc" 
													name="date">

											</div>	
		               	<!-- Calaulation of the table price -->
				                              <div class="mb-3">
												<label for="exampleInputEmail1" class="form-label">
													Price Per Seats:</label> <input type="number" readonly class="form-control"
													id="num-two" th:value="${t.price}">
													</div>
			
													<div class="mb-3">
												   <label for="exampleInputEmail1" class="form-label">
													How Many Seats We want to:</label> <input type="number" name="no_of_seats" step="0.00000001" min="0.00000001"   required class="form-control"
													id="num-one">
													</div>
													<div>
								            <p id="add-sum" class="btn btn-outline-light text-primary fs-4">0</p>
                                                   </div>
  

		
  											</div>



											<div class="text-center">
												<button  onclick="TrainpaymentStart()"  type="submit" class="btn btn-success">Book Now</button>
										
												 
										 
											</div>
									
										</div>
										

									</div>
							</div>

						</div>
					</div>

				</div>
				<div class="modal fade" th:id="train+${t.train_id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">detail</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3 th:text="${t.detail}"></h3>
      </div>
    
    </div>
  </div>
</div>
			</div>
		</div>
		<script>
var numOne = document.getElementById("num-one");
var numTwo = document.getElementById("num-two");
var addSum = document. getElementById("add-sum");

numOne.addEventListener("input", add);
numTwo.addEventListener("input", add);

function add(){
  var one = Number(numOne.value) || 0;
  var two = Number(numTwo.value) || 0;
  var sum = Number(one*two);
  addSum.innerHTML =   sum;
}

</script>
			





	</section>
</body>
</html>