<!doctype html>
<html lang="en" th:replace="Admin/base::Layout(~{::section})">
>
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>

		<div class="card ms-3 me-3">
			<!-- Msg -->
			<div th:if="${session.msg}" th:classappend="${session.msg.type}"
				class="alert alert-dismissible fade show" role="alert">
				<p class="text-center" th:text="${session.msg.content}"></p>
				<th:block th:text="${#session.removeAttribute('msg')}">
					</th>
			</div>
			<div class="card-body">
				<h1 class="text-center text-primary">
					<!-- TItlw -->
					Train Detail
				</h1>

				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">Bus No</th>
								<th scope="col">Company Name</th>
								<th scope="col">Departure City</th>
								<th scope="col">Destination City</th>
								<th scope="col">Departure Time</th>
								<th scope="col">Destination Time</th>
								<th scope="col">Total Time</th>
								<th scope="col">Price</th>
								<th scope="col">Detail</th>


								<th scope="col">Action</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="t:${train}">
								<td th:text="${t.train_no}"></td>
								<td th:text="${t.company}"></td>
								<td th:text="${t.departure_city}"></td>
								<td th:text="${t.destination_city}"></td>
								<td th:text="${t.departure_time}"></td>
								<td th:text="${t.destination_time}"></td>
								<td th:text="${t.total_time}"></td>

								<td th:text="${t.price}"></td>
								<td th:text="${t.detail}"></td>
								<!-- Delete And Update ACtion -->
								<td>
									<button class="btn btn-primary btn-sm fa fa-pencil"
										type="button" data-bs-toggle="offcanvas"
										data-bs-target="#train"
										th:attr="data-bs-target='#off'+${t.train_id}"
										aria-controls="bus"></button> <!-- Base Mdhi Cll Karnar Manun Apn Link Chanhe Keli Pipe MDhli Use Kel -->
									<a class="btn btn-danger btn-sm mt-1"
									th:onclick="|deletTrain(${t.train_id})|"> <i
										class="fa fa-trash" aria-hidden="true"></i>
								</a>
									<div class="offcanvas offcanvas-end" tabindex="-1"
										th:id="off+${t.train_id}"
										aria-labelledby="offcanvasRightLabel">
										<div class="offcanvas-header">
											<h5 id="offcanvasRightLabel"
												class="text-center text-primary">Edit Train Detail</h5>
											<button type="button" class="btn-close text-reset"
												data-bs-dismiss="offcanvas" aria-label="Close"></button>
										</div>
										<div class="offcanvas-body">
											<form th:action="@{/admin/edittrain}" method="post">

												<input type="hidden" name="train_id"
													th:value="${t.train_id}" />


												<div class="mb-3">
													<label for="fl" class="form-label">Train Company
														Name</label> <input type="text" class="form-control" id="fl"
														required name="company" th:value="${t.company}">

												</div>
												<div class="mb-3">
													<label for="fn" class="form-label">Train No</label> <input
														type="text" class="form-control" id="fn" required
														name="train_no" th:value="${t.train_no}">

												</div>
												<div class="mb-3">
													<label for="exampleInputEmail1" class="form-label">
														Departure City</label> <input type="text" class="form-control"
														id="exampleInputEmail1" required name="departure_city"
														th:value="${t.departure_city}">

												</div>
												<div class="mb-3">
													<label for="dc" class="form-label">Destination
														City</label> <input type="text" class="form-control" id="dc"
														required name="destination_city"
														th:value="${t.destination_city}">

												</div>

												<div class="mb-3">
													<label for="pp" class="form-label">Departure Time</label>
													<input type="time" class="form-control" id="pp" required
														name="departure_time" th:value="${t.departure_time}">

												</div>
												<div class="mb-3">
													<label for="pp" class="form-label">Destination
														Time</label> <input type="time" class="form-control" id="pp"
														required name="destination_time"
														th:value="${t.destination_time}">

												</div>

												<div class="mb-3">
													<label for="no" class="form-label">Detail</label>
													<textarea rows="5" class="form-control" required
														name="detail" th:text="${t.detail}"></textarea>
												</div>
												<div class="mb-3">
													<label for="pp" class="form-label">Ticket Price </label>
													<input type="number" class="form-control" id="pp"
														required name="price" th:value="${t.price}">

												</div>

												<div class="text-center">
													<button type="submit" class="btn btn-primary">Submit</button>
												</div>
											</form>

										</div>
									</div>











								</td>
								<!-- EnD OF The Upadte And Delete Actiom -->
							</tr>


						</tbody>
					</table>
				</div>

			</div>

		</div>




		<script>
     $(document).ready(()=>{
    	$(".item").removeClass("active");
    	$("#train1").addClass("active");
     });
     
    </script>
	</section>

</body>
</html>