<!doctype html>
<html lang="en" th:replace="Admin/base::Layout(~{::section})">
>
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>
		<div class="card ms-3 me-3">
			<!-- Msg -->
			<div th:if="${session.msg}" th:classappend="${session.msg.type}"
				class="alert alert-dismissible fade show" role="alert">
				<p class="text-center" th:text="${session.msg.content}"></p>
				<th:block th:text="${#session.removeAttribute('msg')}">
					</th>
			</div>
			<div class="card-body">
				<h1 class="text-center text-primary">
					<!-- TItlw -->
					Package Detail
				</h1>

				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>

								<th scope="col">Package Name</th>
								<th scope="col">No Of day</th>
								<th scope="col">Price per Person</th>

								<th scope="col">No of Activty</th>

								<th scope="col">Description</th>

								<th scope="col">Hotels</th>
								<th scope="col">Flight</th>
								<th scope="col">Train</th>
								<th scope="col">Bus</th>
								<th scope="col">Action</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="p:${pacakge}">
								<td th:text="${p.package_name}"></td>
								<td th:text="${p.day}"></td>
								<td th:text="${p.price}"></td>
								<td th:text="${p.no_of_activty}"></td>
								<td th:text="${p.description}"></td>
								<td th:if="${p.hotelA}">
									<div th:each="h: ${p.hotelA}">
										<h6 th:text="${h.hotel_name}"></h6>
									</div>
								</td>
								<td th:if="${p.flightA}">
									<div th:each="f: ${p.flightA}">
										<h6
											th:text="${f.departure_city + ' -> ' +f.destination_city}"></h6>

									</div>
								</td>
								<td th:if="${p.trainAd}">
									<div th:each="t: ${p.trainAd}">
										<h6
											th:text="${t.departure_city + ' -> ' +t.destination_city}"></h6>

									</div>
								</td>
								<td th:if="${p.busA}">
									<div th:each="b: ${p.busA}">
										<h6
											th:text="${b.departure_city + ' -> ' +b.destination_city}"></h6>

									</div>
								</td>


								<!-- Delete And Update ACtion -->
								<td>
									<button class="btn btn-primary btn-sm fa fa-pencil"
										type="button" data-bs-toggle="offcanvas"
										data-bs-target="#bus"
										th:attr="data-bs-target='#off'+${p.pid}" aria-controls="bus"></button>
									<br> <!-- Base Mdhi Cll Karnar Manun Apn Link Chanhe Keli Pipe MDhli Use Kel -->
									<a class="btn btn-danger btn-sm mt-1"
									th:onclick="|deletpackge(${p.pid})|"> <i
										class="fa fa-trash" aria-hidden="true"></i>
								</a>


									<div class="offcanvas offcanvas-end" tabindex="-1"
										th:id="off+${p.pid}" aria-labelledby="offcanvasRightLabel">
										<div class="offcanvas-header">
											<h5 id="offcanvasRightLabel" class="text-center text-primary">Edit
												Pacakage Detail</h5>
											<button type="button" class="btn-close text-reset"
												data-bs-dismiss="offcanvas" aria-label="Close"></button>
										</div>
										<div class="offcanvas-body">

											<form th:action="@{/admin/editpackage}" method="post"
												enctype="multipart/form-data">
												  <input type="hidden" name="pid" th:value="${p.pid}" />
												<div class="mb-3">
													<label for="na" class="form-label">Package Name</label> <input
														type="text" class="form-control" id="na" required
														name="package_name" th:value="${p.package_name}">

												</div>

												<div class="mb-3">
													<label for="exampleInputEmail1" class="form-label">No
														Of Activity</label> <input type="number" class="form-control"
														id="exampleInputEmail1" required name="no_of_activty"
														th:value="${p.no_of_activty}">

												</div>
												<div class="mb-3">
													<label for="no" class="form-label">No Of Days</label> <input
														type="number" class="form-control" id="no" required
														name="day" th:value="${p.day}">

												</div>
												<div class="mb-3">
													<label for="pp" class="form-label">Price Per
														Person</label> <input type="text" class="form-control" id="pp"
														required name="price" th:value="${p.price}">

												</div>
												<div class="mb-3">
													<label for="exampleInputEmail1" class="form-label">Choose
														Hotel</label> <select name="hotelA" multiple
														class="form-control">

														<option th:each="h:${hotel}" th:value="${h.hid}"
															th:text="${h.hotel_name+'('+h.hotel_location+')'}"></option>

													</select>

												</div>
												<div class="mb-3">
													<label for="exampleInputEmail1" class="form-label">Choose
														Bus</label> <select name="busA" multiple class="form-control">



														<option th:each="b:${bus}" th:value="${b.bus_id}"
															th:text="${b.departure_city +' => '+b.destination_city}"></option>
													</select>

												</div>
												<div class="mb-3">
													<label for="exampleInputEmail1" class="form-label">Choose
														Flight</label> <select name="flightA" multiple
														class="form-control">

														<option th:each="f:${flight}" th:value="${f.filght_id}"
															th:text="${f.departure_city +' =>  '+f.destination_city}"></option>
													</select>

												</div>
												<div class="mb-3">
													<label for="exampleInputEmail1" class="form-label">Choose
														Train</label> <select name="trainAd" multiple
														class="form-control">

														<option th:each="t:${train}" th:value="${t.train_id}"
															th:text="${t.departure_city +' =>  '+t.destination_city}"></option>
													</select>

												</div>



												<div class="mb-3">
													<label for="no" class="form-label">Add Package
														Photo</label> <input type="file" class="form-control" required
														name="image">
												</div>
												<div class="mb-3">
													<textarea id="mytextarea" placeholder="Enter  Descrptiom"
														required name="description" th:text="${p.description}"
														class="form-control" rows="10"></textarea>
												</div>
												<div class="text-center">
													<button type="submit" class="btn btn-primary">Submit</button>
												</div>

											</form>

										</div>
									</div>
								</td>
								<!-- EnD OF The Upadte And Delete Actiom -->
							</tr>


						</tbody>
					</table>
				</div>

			</div>

		</div>


		<script>
     $(document).ready(()=>{
    	$(".item").removeClass("active");
    	$("#package1").addClass("active");
     });
     
    </script>
	</section>

</body>
</html>